p {
  font-family: Arial;
}

h1{
  color: maroon;

}

.title{
  color: teal;

}

.uppercase{
  text-transform: uppercase;
  }

.cursive{
  font-family: cursive;

}

.capitalize{
  text-transform: capitalize;

}

.publish-time{
  color: gray;
  }

h2.destination{
 font-family: cursive;

}


<!-------When writing CSS rules, it's possible to require an HTML element to have two or more CSS selectors at the same time.------------>
