p {
  font-family: Arial;
}

h1{
  color: maroon;

}

.title{
  color: teal;

}

.uppercase{
  text-transform: uppercase;
  }


#article-title{
  font-family: cursive;
text-transform: capitalize;
  }


  <!-----To add an ID to an element, the element needs an id attribute:------------>
